Repository AndreasAugustin/actions-template-sync, pull requests merged in 2022-12, with the labels that each got.

#229 docs(architecture): (#226) add a diagram about the code flow :pencil:
  README.md
  docs/ARCHITECTURE.md
  docs/README.md
Labels: documentation

#232 Chore/dry run
  .github/workflows/test.yml
  .gitignore
  README.md
  action.yml
  docs/ARCHITECTURE.md
  src/sync_template.sh
Labels: documentation, enhancement, ci

#242 docs(): add example for github action-template-sync :pencil:
  README.md
Labels: documentation

#246 Chore/test ssh
  .github/workflows/test.yml
  .github/workflows/test_ssh.yml
Labels: ci, chore

#247 Chore/test ssh
  .github/workflows/test_ssh.yml
Labels: ci

#237 feat: make commit msg configurable
  README.md
  action.yml
  src/sync_template.sh
Labels: documentation, enhancement

#251 fix(sync-template): fix issue with .templatesyncignore conflicts
  README.md
  src/sync_template.sh
Labels: bug

#258 docs(): version bump :pencil:
  .github/workflows/actions_template_sync.yml
  README.md
Labels: ci, chore

#252 feat: config files inside .GitHub folder
  .all-contributorsrc
  README.md
  docs/ARCHITECTURE.md
  src/sync_template.sh
Labels: documentation, enhancement

#265 release(v0.5.2-draft) release new version :rocket:
  .github/workflows/actions_template_sync.yml
  README.md
Labels: bug, documentation, enhancement, chore

#270 doc(): update docs for release v0.5.3-draft :up:
  .github/workflows/actions_template_sync.yml
  README.md
Labels: documentation, ci, chore

#272 Fix/docker test
  .github/workflows/push_docker.yml
  README.md
Labels: bug, ci
