Repository AndreasAugustin/actions-template-sync, pull requests merged in 2022-08, with the labels that each got.

#191 release(v0.4.0-draft) release new version :rocket:
  .github/workflows/actions_template_sync.yml
  README.md
Labels: chore

#194 fix: quote PR title
  src/sync_template.sh
Labels: bug

#196 doc(v0.4.1-draft) bug fix release :zap:
  .github/workflows/actions_template_sync.yml
  README.md
Labels: ci, chore
