Repository AndreasAugustin/actions-template-sync, pull requests merged in 2024-10, with the labels that each got.

#561 feat(#547): :sparkles: add option to include git tags
  .devcontainer/docker-compose.yml
  README.md
  action.yml
  src/sync_template.sh
Labels: enhancement

#571 docs(#566): add docs for GHES
  README.md
Labels: documentation

#574 fix: incorrect argument passing to git push
  src/sync_template.sh
Labels: bug

#577 chore(#573): add tests with real push
  .github/workflows/test.yml
Labels: chore
