Repository AndreasAugustin/actions-template-sync, pull requests merged in 2025-01, with the labels that each got.

#594 fix(#591): add missing gh cli precheck
  src/entrypoint.sh
Labels: bug

#596 fix(#551): fix issue with file deletion
  src/sync_template.sh
Labels: bug

#597 docs: remove fundings
  .github/FUNDING.yml
Labels: documentation

#598 feat(#598): Using multiple tokens for private GitHub Repo connectivity
  .github/workflows/test_all.yml
  .github/workflows/test_github_app.yml
  .github/workflows/test_ssh.yml
  .github/workflows/test_ssh_gitlab.yml
  README.md
  action.yml
  src/entrypoint.sh
  src/sync_template.sh
Labels: bug, enhancement
